@import '../../../styles/variables';

.color-picker {
  display: flex;
}

.color-wrapper {
  display: flex;
  align-items: center;
  flex-grow: 0;

  .form-label,
  .form-text {
    display: none;
  }

  .form-control {
    cursor: pointer;
    width: 76px;
    height: 38px;
    border-radius: 0.375rem;
    padding: 0;
    overflow: hidden;
    margin-bottom: 12px;
    margin-left: 12px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition:
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
  }
}
