@import '../../styles/variables';

.create-car-btn {
  margin-top: 0 !important;
}

.btns-wrapper {
  display: flex;
  gap: 1rem;
}

.cars-wrapper {
  margin-top: 2rem;

  .item {
    position: relative;
    border-bottom: 2px dashed rgba($dark-color, 0.3);

    &::before {
      position: absolute;
      top: 0;
      right: calc(10% - 2rem);
      width: 2rem;
      height: 100%;
      background-image: url('/src/assets/icons/flag-checkered.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
    }

    .car-btns {
      display: flex;
      padding: 0.5rem 0;
      gap: 0.3rem;
    }

    .car-title {
      padding-left: 1rem;
      margin: 0;
      font-size: 1.15rem;
    }
  }
}
