@import '../../styles/variables';

.create-car-btn,
.create-cars-btn,
.race-car-btn,
.return-car-btn {
  margin-top: 0 !important;
  padding-right: 1rem;
  padding-left: 1rem;
}

.race-car-btn {
  margin-left: auto;
}

.btns-wrapper {
  display: flex;
  gap: 1rem;
  margin: 1rem 0 0;
}

.cars-wrapper {
  margin-top: 1.2rem;

  .item {
    position: relative;
    border-bottom: 2px dashed rgba($light-color, 0.15);

    .car-btns {
      position: relative;
      z-index: 10;
      display: flex;
      padding: 0.5rem 0;
      gap: 0.3rem;
    }

    .car-title {
      padding-left: 1rem;
      margin: 0;
      font-size: 1rem;
    }
  }
}

.run-title {
  position: absolute;
  width: 150%;
  top: -3rem;
  right: 0;
  color: $light-color;
  text-align: end;
  padding-left: 0 !important;
}

@media (max-width: 768px) {
  .cars-wrapper .item .car-title {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .btns-wrapper {
    display: block;
    margin: 0;
  }

  .create-car-btn,
  .create-cars-btn,
  .race-car-btn,
  .return-car-btn {
    margin: 0.5rem !important;
  }
}
