@import '../../../styles/variables';

.table-title {
  user-select: none;
}

.arrow {
  cursor: pointer;
  position: relative;
  padding-right: 1rem !important;

  &::before {
    font-size: 1.5rem;
    content: '\2191';
    position: absolute;
    top: 4px;
    right: 4px;
    transition: all 0.3s ease;
  }

  &.desc {
    &::before {
      transform: rotate(180deg);
    }
  }

  &.shadow-icon {
    &::before {
      opacity: 0;
    }

    &:hover {
      &::before {
        opacity: 0.5;
      }
    }
  }
}
