$color14: #fea2ad;
$color15: #0cffc7;
$color13: #d294ff;

$color6: #8b008b;
$color7: #4b0082;

$color10: #cccccc;

$color11: #aa53aa;
$color12: #ea39ea;

$color17: #ec248e;
$color18: #621585;

$purple: #4c0bce;
$violet: #712cf9;
$violet2: #712cf9;

$main-color: #d294ff;
$accent-color: $color18;

$dark-color: #2b3035;
$light-color: #dee2e6;

$error-color: #ffa6ae;
$success-color: rgb(114 182 114);

$error-bright-color: rgb(172 1 1);
$success-bright-color: rgb(116 190 4);
