.car {
  width: 10%;
  height: auto;

  &.table-car {
    width: 5rem;
  }

  svg {
    width: 100%;
    height: auto;
  }

  &.fast {
    position: relative;

    &::before {
      position: absolute;
      top: -20%;
      left: -5%;
      width: 40%;
      height: 50%;
      background-image: url('/src/assets/icons/fast.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
    }
  }

  &.wrench {
    position: relative;

    &::before {
      position: absolute;
      top: -30%;
      right: -5%;
      width: 40%;
      height: 60%;
      background-image: url('/src/assets/icons/wrench.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      animation: scroll 2s linear infinite;
    }
  }

  &.win {
    position: relative;

    &::before {
      position: absolute;
      top: -50%;
      right: -5%;
      width: 40%;
      height: 60%;
      background-image: url('/src/assets/icons/trophy.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
    }
  }
}

@keyframes scroll {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
