@import '../../../styles/variables';

.btn.btn-pz-primary.disabled {
  border-color: rgba($light-color, 0.3);
  color: rgba($light-color, 0.3);
  background-color: rgba($light-color, 0.1);
}

.btn-pz-primary {
  margin-top: 16px;
  background-color: $color17;
  border-color: $color17;
  filter: brightness(1);
  transition: all 0.5s ease;

  &:hover,
  &:focus {
    background-color: $color12;
    border-color: $color12;
    filter: brightness(1.2);
    box-shadow:
      $main-color 0px 0px 4px,
      $color17 0px 0px 8px;
  }

  &:active {
    background-color: $color6;
    border-color: $color6;
    filter: brightness(1);
  }
}

.btn.btn-pz-primary.outlined {
  border: 2px solid $main-color;
  margin-top: 16px;
  background-color: rgba($main-color, 0.1);
  color: $main-color;
  filter: brightness(1);
  font-weight: 600;

  &:hover,
  &:focus {
    background-color: none;
    border-color: $main-color;
    color: $light-color;
    box-shadow:
      $color17 0px 0px 4px,
      $main-color 0px 0px 10px;
    filter: brightness(1.2);
  }

  &:active {
    background-color: none !important;
    border-color: $main-color;
    color: $light-color;
    box-shadow:
      $color17 0px 0px 8px,
      $main-color 0px 0px 16px;
    filter: brightness(1);
  }

  &.accept {
    border-color: $color14;
    color: $color14;
    padding-right: 2rem;
    padding-left: 2rem;
    font-weight: 600;
    box-shadow:
      $color17 0px 0px 6px,
      $main-color 0px 0px 10px;

    &:hover,
    &:focus {
      color: $light-color;
      box-shadow:
        $color17 0px 0px 10px,
        $main-color 0px 0px 16px;
    }

    &:active {
      color: $light-color;
      box-shadow:
        $color17 0px 0px 10px,
        $main-color 0px 0px 20px;
    }

    &.disabled {
      border-color: rgba($light-color, 0.3);
      color: rgba($light-color, 0.3);
      background-color: rgba($light-color, 0.1);
      box-shadow: none;
    }
  }

  &.reject {
    border-color: $color15;
    color: $color15;
    padding-right: 2rem;
    padding-left: 2rem;
    font-weight: 600;
    box-shadow:
      $success-color 0px 0px 6px,
      $color15 0px 0px 10px;

    &:hover,
    &:focus {
      color: $light-color;
      box-shadow:
        $success-color 0px 0px 10px,
        $color15 0px 0px 16px;
    }

    &:active {
      color: $light-color;
      box-shadow:
        $success-color 0px 0px 10px,
        $color15 0px 0px 20px;
    }

    &.disabled {
      border-color: rgba($light-color, 0.3);
      color: rgba($light-color, 0.3);
      background-color: rgba($light-color, 0.1);
      box-shadow: none;
    }
  }
}

.btn.disabled.icon {
  background-color: none !important;
  opacity: 0.05;
}

.btn-pz-primary.icon {
  position: relative;
  z-index: 1;
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 50%;
  margin: 0;
  background-color: transparent;
  color: $main-color;
  filter: brightness(0.5);
  font-size: 0.9rem;
  font-weight: 600;

  &::after {
    position: absolute;
    z-index: 0;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    border-radius: 50%;
    background-color: transparent;
    content: '';
    transition: all 0.3s ease;
  }

  &:hover,
  &:focus {
    border: 1px solid transparent;
    background-color: transparent;
    color: $light-color;
    filter: brightness(1);
    box-shadow: none;

    &::after {
      background-color: rgba($dark-color, 0.2);
    }

    &::before {
      opacity: 0.9;
    }
  }

  &:active {
    border: 1px solid transparent;
    background-color: transparent;
    color: $light-color;
    filter: brightness(1);

    &::after {
      background-color: rgba($dark-color, 0.4);

      &::before {
        opacity: 1;
      }
    }
  }

  &.disabled {
    border: 1px solid transparent;
    background-color: transparent;
    color: rgba($dark-color, 0.8);
    filter: brightness(1);
    border: none;
  }
}

.icon.edit {
  &::before {
    position: absolute;
    top: calc(50% - 12px);
    min-width: 24px;
    content: url('../../../assets/icons/pencil.svg');
    filter: brightness(0) saturate(100%) invert(40%) sepia(92%) saturate(735%) hue-rotate(200deg) brightness(92%)
      contrast(10%);
    opacity: 0.95;
  }
}

.icon.remove {
  &::before {
    position: absolute;
    top: calc(50% - 12px);
    min-width: 24px;
    content: url('../../../assets/icons/close-thick.svg');
    filter: brightness(0) saturate(100%) invert(40%) sepia(92%) saturate(735%) hue-rotate(200deg) brightness(92%)
      contrast(10%);
    opacity: 0.95;
  }
}

.icon.start {
  margin-left: 1rem;

  &::before {
    position: absolute;
    top: calc(50% - 12px);
    min-width: 24px;
    content: url('../../../assets/icons/play.svg');
    filter: brightness(0) saturate(100%) invert(40%) sepia(92%) saturate(735%) hue-rotate(200deg) brightness(92%)
      contrast(10%);
    opacity: 0.95;
  }
}

.icon.return {
  &::before {
    position: absolute;
    top: calc(50% - 12px);
    min-width: 24px;
    content: url('../../../assets/icons/replay.svg');
    filter: brightness(0) saturate(100%) invert(70%) sepia(92%) saturate(735%) hue-rotate(216deg) brightness(92%)
      contrast(100%);
    opacity: 0.95;
  }
}
