@import '../../styles/variables';

.header {
  composes: header from global;
  position: sticky;
  display: flex;
  background-color: rgb(255 255 255 / 4%);
  user-select: none;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  img {
    height: 1.5rem;
  }
}

.title {
  composes: title from global;
  font-size: 1.5rem;
  color: $color14;
  text-shadow:
    $color17 0px 0px 4px,
    $color18 0px 0px 5px;
}

.navbar-nav {
  composes: navbar-nav from global;
  display: flex;
  gap: 2rem;
}

.nav-link {
  composes: nav-link from global;
  font-size: 1.1rem;

  &:hover {
    color: rgba($color15, 0.5);
  }

  &.active-nav {
    color: $color15 !important;
    cursor: default;
    user-select: none;
  }
}
