@import '../../styles/variables';

.header {
  position: sticky;
  display: flex;
  background-color: rgba($dark-color, 0.2);
  user-select: none;
}

.title {
  font-size: 1.5rem;
}

.navbar-nav {
  display: flex;
  gap: 2rem;
}

.nav-link {
  font-size: 1.1rem;

  &.active {
    color: $accent-color;
    cursor: default;
    user-select: none;
  }
}
