.modal {
  top: 51px;
  height: calc(100dvh - 51px);

  .modal-dialog.modal-dialog-right {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;

    .modal-content {
      height: calc(100dvh - 51px);
      transform: translateX(100%);
      transition: all 0.3s ease;

      .modal-header,
      .modal-footer {
        padding: 1rem 2.5rem;
      }

      .modal-body {
        padding: 2.5rem 2.5rem 1rem;
      }
    }
  }

  &.show {
    .modal-dialog.modal-dialog-right {
      .modal-content {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        transform: translateX(0);
      }
    }
  }
}

.modal-backdrop-under {
  top: 51px;
  height: calc(100dvh - 51px);
}

.hide-modal {
  display: none !important;
}
